#roomTable,#table,#notable{
    color:white !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #555;
}
